ytclip
pdf2image
ffmpeg-normalize
appdirs
PyQt6==6.3.1
PyPDF2
jsoncomment
pyserial
openai>=0.27.2
consolemd
inputimeout
pyserial
playaudio>=1.0.5
gTTS
static-ffmpeg>=2.5
zcmds_win32>=1.0.21; platform_system=='Windows'