ytclip
pdf2image
ffmpeg-normalize
appdirs
PyQt6==6.3.1
PyPDF2
jsoncomment
pyserial
openai>=0.27.2
consolemd
inputimeout
download
playaudio>=1.0.5
gTTS
py7zr
static-ffmpeg>=2.5
zcmds_win32>=1.2.1; platform_system=='Windows'
