ytclip
pdf2image
ffmpeg-normalize
appdirs
PyQt6
PyPDF2
jsoncomment
pyserial
openai==1.3.7
consolemd
inputimeout
download
playaudio>=1.0.5
gTTS
py7zr
static-ffmpeg>=2.5
zcmds_win32>=1.2.12; platform_system=='Windows'
static-sox
json5
tiktoken
pipx
GitPython
transcribe-anything>=2.7.27
send2trash
magic-wormhole
gpt4all
wormhole-tx